@charset "ISO-8859-1";
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fonte-Montserrat);
}

:root{
  --cor-primaria: #000000; /* Preto, background */
  --cor-secundaria:#F6F6F6; /* Branco */
  --cor-terciaria:#22D4FD; /* Azul-claro principal */
  --cor-hover:#272727; /* Cor do Hover */

  --fonte-KronaOne: 'Krona One', sans-serif;
  --fonte-Montserrat: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-terciaria);
  font-family: var(--fonte-KronaOne);
  padding: 30px 100px;
  /*margin-bottom: 80px; */
}

/* Estilos para a logomarca */
.logo {
  color: var(--cor-primaria);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* Estilos para a lista de links */
.links {
  list-style: none;
  padding: 0;
  display: flex;
}

.links li {
  margin-right: 20px;
}

.links a {
  color:var(--cor-primaria);
  text-decoration: none;
  font-weight: bold;
}
